paths:
  input_dir: /storageh100/Projects/Gaitly/bsehgal/
  output_dir: /storage/Projects/Gaitly/bsehgal/lower_body_pose_est/pipeline_results/

video:
  extensions:
    - .mp4
    - .avi
    - .mov
    - .mkv